/* Form */
.input {
  padding: 1rem;
  font-size: 22px;
  border-color: var(--primary-color);
}

.button {
  padding: 1rem;
  font-size: 22px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-color);
}

/* List */
.wrapper {
  width: 100%;
  margin-top: 2em;
}

.list {
  list-style: none;
}

.item {
  font-size: 1.2rem;
  padding: 0.6rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #444;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
